<p>Walls</p>

<!--<ul>-->
  <!--<li *ngFor="let mural of murals"-->
      <!--[class.selected]="mural === selectedWall"-->
    <!--(click)="onSelect(mural)">-->
    <!--<p>{{mural.id}}</p>-->
  <!--</li>-->
<!--</ul>-->
<!--<div *ngFor="let mural of murals">-->
  <!--<p>{{mural.id}}: {{mural.title.nl}}</p>-->
  <!--<button (click)="goToDetail(mural)">Ga naar muur</button>-->
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let mural of murals">
      <div class="img-thumbnail">
        <img class="img-fluid" src="https://api.blindwalls.gallery/{{mural.images[0].url}}" alt="">
        <div class="caption">
          <h4 class="pull-right"></h4>
          <h4 (click)="goToDetail(mural)"><a>{{mural.title.nl}}</a></h4>
          <p>Door: {{mural.author}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
